.text-center {
  text-align: center;
  margin: 20px 0;
}
.text-left {
  margin: 20px 0;
  font-family: 'Courier New', Courier, monospace;
  color: tomato;
  font-size: 2em;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.cart-listbox {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cart-listbox {
  list-style-type: none;
  padding: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.item-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-title, .item-details, .item-size, .item-price {
  color: #333;
  margin: 0 10px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.summary-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.summary-text, .price-sum-text {
  font-family: 'Courier New', Courier, monospace;
  color: tomato;
  font-size: 2em;
  text-align: left;
}

.continue-button {
  background: #e8491d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.continue-button:hover {
  background: #50b3a2;
}
.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-title, .item-details, .item-size, .item-price {
  flex-basis: 19%;
  text-align: center;
  color: #333;
  margin: 0 10px;
}

.item-number {
  flex-basis: 5%;
  text-align: center;
  color: #333;
}
