<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-items-left">
      <img src="../../../assets/logo.png" alt="Internet Shop Logo" class="logo" [routerLink]="'/'">
      <div *ngIf="isLoggedIn; else elseBlock">
        <a class="button" mat-stroked-button (click)="logout()">{{this.username.toString()}}</a>
      </div>
      <ng-template #elseBlock>
        <a class="button" mat-stroked-button [routerLink]="'/login'">Log in</a>
      </ng-template>
    </div>
    <span class="spacer"></span>


    <mat-form-field class="search-form-field" appearance="outline">
      <input class="search-input" matInput>
      <mat-icon matIconSuffix inline="true">search</mat-icon>
    </mat-form-field>
    <a class="button" mat-stroked-button>Search</a>


    <span class="spacer"></span>
    <button mat-button>
      <img src="../../../assets/shopping-cart.png" class="logo" alt="Cart">
    </button>
  </mat-toolbar-row>
</mat-toolbar>

