<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-items-left">
      <img src="../../../assets/logo.png" alt="Internet Shop Logo" class="logo" (click)="navigateToHome()">
      <div *ngIf="loggedIn; else elseBlock">
        <ng-template [ngIf]="!userRoles?.includes('EMPLOYEE')" [ngIfElse]="elseBlock">
          <button class="button" mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="navigateToAccountInformation()">Account information</button>
            <button mat-menu-item (click)="navigateToOrderHistory()">Order history</button>
            <button mat-menu-item (click)="logout()">Log out</button>
          </mat-menu>
        </ng-template>
        <ng-template #elseBlock>
          <button class="button" mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="navigateToAccountInformation()">Account information</button>
            <button mat-menu-item (click)="navigateToComplaints()">List of complaints</button>
            <button mat-menu-item (click)="navigateToOrderHistory()">Order history</button>
            <button mat-menu-item (click)="navigateToAllOrders()">All orders</button>
            <button mat-menu-item>Category list</button>
            <button mat-menu-item (click)="navigateToItemList()">Item list</button>
            <button mat-menu-item (click)="logout()">Log out</button>
          </mat-menu>
        </ng-template>
      </div>
      <ng-template #elseBlock>
        <a class="button" mat-stroked-button [routerLink]="'/login'">Log in</a>
      </ng-template>
    </div>
    <span class="spacer"></span>
    <div>
      <input class="search-input" type="text" [(ngModel)]="searchText" placeholder="Search for items" (keyup)="checkEnterKeyPressed($event)">
    </div>
    <button class="button" mat-stroked-button [matMenuTriggerFor]="categories">{{selectedCategory && selectedCategory !== 'all' ? selectedCategory : 'Category'}}</button>
    <mat-menu #categories="matMenu" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let itemCategory of itemCategories" (click)="selectCategory(itemCategory)">{{itemCategory}}</button>
    </mat-menu>
    <a class="button" mat-stroked-button (click)="navigateToSearch()">Search</a>
    <span class="spacer"></span>
      <img *ngIf="loggedIn" (click)="navigateToCart()" src="../../../assets/shopping-cart.png" class="logo" alt="Cart">
  </mat-toolbar-row>
</mat-toolbar>
