.header-items-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}

.header-button {
  background-color: #0069e1 !important;
  text-decoration: none;
}

.header-button:hover {
  background-color: #004ca4 !important;
  transition: 300ms;
}

.logo {
  height: 48px;
  margin-right: 16px;
}

.logo:hover {
  transform: scale(110%);
  transition-duration: 300ms;
}

.search-input {
  color: white !important;
}

.mat-mdc-form-field-infix {
  padding-top: 16px !important;
}

.mat-mdc-form-field-flex {
  display: inline-flex;
  align-items: center !important;
  box-sizing: border-box;
  width: 100%;
  max-height: 35px;
}

.search-input::placeholder {
  color: #cccccc;
}

.search-form-field {
  line-height: 32px;
  background: #49a1ff;
}

.mat-icon {
  transform: scale(1.2);
}





