.header-items-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar.mat-primary {
  background: linear-gradient(270deg, #007bff, #50b3a2);
  background-size: 200%;
}

.header-button {
  background-color: #0069e1 !important;
  text-decoration: none;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 20px;
}

.logo:hover {
  transform: scale(110%);
  transition-duration: 500ms;
}

.mat-mdc-form-field-infix {
  padding-top: 16px !important;
}

.mat-mdc-form-field-flex {
  display: inline-flex;
  align-items: center !important;
  box-sizing: border-box;
  width: 100%;
  max-height: 35px;
}

.search-input {
  text-align: center;
  background-color: #abd1ff;
  border: 1px solid #ddd;
  color: #FFF;
  padding: 0.3em;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}

.mat-icon {
  transform: scale(1.2);
}

.header-items-left {
  display: flex;
  align-items: center;
}

.button {
  margin: 0 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.button:active {
  background-color: #50b3a2;
}

.mat-menu-item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mat-menu-item:hover {
  background-color: #e8491d;
  color: #fff;
}

.mat-icon {
  vertical-align: bottom;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




