<ng-template [ngIf]="isSearch && items.length === 0" [ngIfElse]="notSearchBlock">
  <h2 class="text-center-big">Search returned no results.</h2>
</ng-template>
<ng-template #notSearchBlock>
  <div class="product-list">
    <div class="product" *ngFor="let item of items">
      <img [src]="item.itemImages[0].imageBase64" [alt]="item.title">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description }}</p>
      <p class="price">{{ item.price }} PLN</p>
      <button class="button" mat-stroked-button [routerLink]="'/item'" [queryParams]="{ itemId: item.itemId }">View details</button>
    </div>
  </div>
</ng-template>


