 <div class="column">
    <mat-form-field class="chat-area" appearance="outline">
      <mat-label>Describe your problem with the order here: </mat-label>
                <textarea matInput #chatTextarea
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="10"
                          cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
  </div>

  <div class="buttons-with-image-container card">
    <div class="buttons-with-image-column">
      <button class="button" (click)="sendMessage()">Send message</button>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <button class="button" (click)="uploadImage()"> Upload image
        <input type="file" class="input-upload-image" (change)="onFileSelected($event)" #fileInput>
      </button>

      <a class="invalid-file-warning" *ngIf="fileInvalid">The selected file is not an image. Select another one.</a>
    </div>
    <div *ngIf="chatImagesBase64.length > 0" class="image-container">
      <a>Selected image:</a>
      <img *ngFor="let chatImageBase64 of chatImagesBase64" [src]="chatImageBase64">
      <p (click)="removeImages()">Remove images</p>
    </div>
  </div>

