.input-upload-image {
  display: none;
}

.invalid-file-warning {
  color: red;
}

.buttons-with-image-container {
  display: flex;
  width: 100%;
}

.button {
  width: 40%;
}


.buttons-with-image-column {
  display: flex;
  flex: 3;
  padding: 10px;
  flex-direction: column;
}

img {
  max-height: 150px;
  max-width: 150px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: none;
}

