<div class="container">
  <div class="element">
    <p>Product title here</p>
    <img [src]="product?.imageUrl" [alt]="product?.name">
  </div>
  <div class="product-data-container">
    <div class="element">

      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile><p>Price:</p></mat-grid-tile>
        <mat-grid-tile><p>price-placeholder</p></mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Size</mat-label>
            <mat-select>
              <mat-option *ngFor="let size of sizes" [value]="size">
                {{size}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>

        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>

        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>

        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
        <mat-grid-tile><p>Element</p></mat-grid-tile>
      </mat-grid-list>

    </div>
    <div class="element">
      <!--      <img [src]="product?.imageUrl" [alt]="product?.name">-->
      <p>Price</p>
      <p>Price</p>
      <p>Price</p>
      <p>Price</p>

    </div>
    <!--    <div class="image-box">-->
    <!--      <img [src]="product?.imageUrl" [alt]="product?.name">-->
    <!--    </div>-->
    <!--    <div class="image-box">-->
    <!--      <img [src]="product?.imageUrl" [alt]="product?.name">-->
    <!--    </div>-->
  </div>
</div>
