.UserInfo{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.description-form-field {
    width: 100%;
}

.buttons-with-image-container {
    display: flex;
    width: 100%;
}

.buttons-with-image-column {
    display: flex;
    flex: 3;
    padding: 10px;
    flex-direction: column;
    width: 50%;
}

.input-upload-image {
    display: none;
}

.image-container {
    display: flex;
    flex-direction: row;
}

img {
    max-height: 150px;
    max-width: 150px;
}

.invalid-file-warning {
    color: red;
}

.center {
  align-content: center;
}

.card {
  box-shadow: 0px 0px 0px 0px;
}
.mat-form-field {
  width: 600px;
}
