<div class="container">
    <div class="form-container labels">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmitItemForm()">
            <h2 class="section-title">Item details:</h2>
            <table class="UserInfo">
                <mat-form-field class="mat-form-field" appearance="outline">
                    <mat-label>Item title:</mat-label>
                    <input class="reg-input" matInput formControlName="title" required>
                    <mat-error>
                        Please provide a valid item title
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field class="description-form-field" appearance="outline">
                    <mat-label>Item description:</mat-label>
                    <textarea matInput formControlName="description"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="10"
                              cdkAutosizeMaxRows="10"></textarea>
                    <mat-error>
                        Please provide a valid item description
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <mat-label>Item price:</mat-label>
                    <input matInput class="reg-input" formControlName="price" required>
                    <mat-error>
                        Please provide a valid item price
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field class="mat-form-field" appearance="outline">
                    <mat-label>Quantity:</mat-label>
                    <input matInput class="reg-input" formControlName="quantity" required>
                    <mat-error>
                        Please provide a valid item quantity
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field appearance="outline" class="mat-form-field">
                  <mat-label>Category:</mat-label>
                    <mat-select formControlName="itemCategory">
                        <mat-option *ngFor="let itemCategory of itemCategories" [value]="itemCategory.category">
                            {{itemCategory.category}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
<!--            <mat-form-field appearance="outline" class="mat-form-field">-->
<!--                  <mat-label>Item Set:</mat-label>-->
<!--                    <mat-select formControlName="itemSet">-->
<!--                        <mat-option *ngFor="let itemSet of itemSets" [value]="itemSet.set">-->
<!--                            {{itemSet.set}}-->
<!--                        </mat-option>-->
<!--                    </mat-select>-->
<!--                </mat-form-field>-->
              <mat-checkbox *ngIf="item?.itemId" (click)="setItemVisible()">
                <mat-label>Show Item: </mat-label>
              </mat-checkbox>
              <div class="buttons-with-image-container card">
                <div class="buttons-with-image-column">
                  <span>&nbsp;&nbsp;&nbsp;</span>
                  <button class="button" type="button" (click)="uploadImage()">Upload image
                    <input type="file" class="input-upload-image" (change)="onFileSelected($event)" #fileInput>
                  </button>
                  <p class="invalid-file-warning" *ngIf="noImageUploaded">
                    You must upload at least one image
                  </p>
                </div>
                <a class="invalid-file-warning" *ngIf="fileInvalid">The selected file is not an image. Select another one.</a>
                <div *ngIf="itemImagesBase64.length > 0" class="image-container">
                  <a>Selected image:</a>
                  <img *ngFor="let imageBase64 of itemImagesBase64" [src]="imageBase64">
                  <p (click)="removeImages()">Remove images</p>
                </div>
              </div>
              <br>
              <button type="submit" class="button card">Save item</button>
              <br>
            </table>
        </form>
    </div>
</div>
