.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 20px;
  font-size: 18px;
}

ul.listbox {
  list-style-type: none;
}

.button:hover {
  transform: none;
}
