<h2 class="text-big-left"><span><b>Complaint ID: {{complaintId}}</b></span></h2>
<div class="container">
    <div class="sub-container">
        <ul cdkListbox
            cdkListboxUseActiveDescendant
            class="listbox">
            <li *ngFor="let complaintChatMessage of complaintChatMessages; index as i"
                class="card">
                <div class="item-row">
                    <div class="column">
                        <span>User:</span>
                        <span>{{ complaintChatMessage.chatMessageUserName}}
                            {{ complaintChatMessage.chatMessageUserSurname }}</span>
                    </div>
                    <div class="column">
                        <span>{{ complaintChatMessage.createdDate}}</span>
                        <span>{{ complaintChatMessage.chatMessage }}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="item-row">
        <div class="column h-100">
            <mat-form-field>
                <mat-label>Autosize textarea</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        </div>
        <div class="column">
            <button class="button" (click)="uploadPhoto()">Upload photo</button>
            <button class="button" (click)="sendMessage()">Send message</button>
        </div>
    </div>
</div>

