.employee-message {
  background-color: #d3d3d3;
}

.user-message {
  background-color: #e3e3e3;
}
.item-row {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}
.spam-text-chat {
  display: block;
  white-space: break-spaces;
  max-width: 2000px;
  word-wrap: break-word;
}

img {
    max-height: 150px;
    max-width: 150px;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.item-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #e7faf2;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-row .column:first-child span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 12px;
  color: grey;
}

.item-row .column:last-child {
  text-align: center;
}

.item-row .column:last-child span {
  display: block;
  margin: 20px 0;
}

.card:hover {
  transform: none;
}

