<script src="../../app.module.ts"></script>
<div class="container">
  <h2 class="text-big-left"><span><b>COMPLAINTS</b></span></h2>
  <div class="main-card">
    <ul cdkListbox
        cdkListboxUseActiveDescendant
        class="listbox">
      <li *ngFor="let complaint of complaints; index as i" [routerLink]="'/complaints/chat'" [queryParams]="{ complaintId: complaint.complaintId }"
          class="card">
        <div class="item-row">
          <div class="column">
            <span>Complaint ID: {{ complaint.complaintId }}</span>
            <span>User: {{ complaint.buyerName}} {{ complaint.buyerSurname }}</span>
          </div>
          <div class="column">
            <span>Status: {{ complaint.complaintStatus ? complaint.complaintStatus: 'NONE' }}</span>
            <span>Employee: {{ complaint.employeeName && complaint.employeeSurname ?
                    complaint.employeeName && complaint.employeeSurname : 'NONE' }}</span>
          </div>
        <button *ngIf="this.loggedUser.id !== complaint.employeeId" (click)="assignToEmployee(complaint)">Assign to me</button>
        </div>
      </li>
    </ul>
  </div>
</div>
