<div class="page-container">
  <div class="user-info">
    <h2 class="section-title">User information</h2>
    <table class="UserInfo">
      <tr><td><b>Username: </b></td><td>{{user.username}}</td></tr>
      <tr><td><b>Name: </b></td><td>{{user.name}}</td></tr>
      <tr><td><b>Surname: </b></td><td>{{user.surname}}</td></tr>
      <tr><td><b>Email: </b></td><td>{{user.email}}</td></tr>
      <tr><td><b>Phone: </b></td><td>{{user.phone}}</td></tr>
      <tr><td><b>Roles: </b></td><td>placeholder</td></tr>
    </table>
  </div>
  <div class="change-password">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
      <h2 class="section-title">Change password</h2>
      <table class="UserInfo">
        <tr><td><b>Password: </b></td><td><input type="password" class="labels" placeholder="Password" formControlName="password" required></td></tr>
        <tr><td><b>Confirm password: </b></td><td><input type="password" class="labels" placeholder="Confirm password" formControlName="confirmPassword"
                                                         name="password"
                                                         required></td></tr>
      </table>
      <br>
      <button type="submit" class="button">Submit</button>
      <br>
    </form>
  </div>

  <div class="add-address">
    <form [formGroup]="addAddressForm" (ngSubmit)="onSubmitAddAddress()">
      <h2 class="section-title"> Add new shipping address</h2>
      <table class="UserInfo">
        <tr><td><b>Street: </b></td><td><input placeholder="Street" class="labels" formControlName="street" required></td></tr>
        <tr><td><b>Apartment/flat number: </b></td><td><input placeholder="Apartment/flat number" class="labels" formControlName="flatNumber" required></td></tr>
        <tr><td><b>Postal code: </b></td><td><input placeholder="Postal code" class="labels" formControlName="postalCode" required></td></tr>
        <tr><td><b>City: </b></td><td><input placeholder="City" class="labels" formControlName="city" required></td></tr>
      </table>
      <br>
      <button type="submit" class="button">Add new address</button>
      <br>
    </form>
  </div>

  <div class="address-list">
    <h2 class="section-title">Your shipping addresses</h2>
    <ul>
      <li *ngFor="let address of addresses">
        <span class="address-text">{{address.flatNumber + ', ' +
        address.street + ', ' + address.postalCode + ', ' + address.city}}</span>
        <img class="delete-button" src="../../../../assets/trash.png" (click)="removeAddress(address.addressId)">
      </li>
    </ul>
  </div>
</div>
