.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-family: Arial, sans-serif;
  border-width: 1px;
  border-radius: 4px; /* Rounded corners */
  font-size: 20px;
  background-color: #F2F2F2;
  color: #333;
}
button[type="submit"] {
  background: linear-gradient(270deg, #007bff, #50b3a2);
  border: none; /* Remove default borders */
  color: white; /* White text color */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Cursor pointer on hover */
  border-radius: 4px; /* Rounded corners */
  animation: gradient 3s ease-in-out infinite;
  opacity: 0.6;
  margin: 4px auto;
  width: 40%;
}

button[type="submit"]:hover {
  opacity: 1;
}

.UserInfo{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}

.form-grid label {
  display: flex;
  flex-direction: column;
}

.form-grid input {
  margin-top: 0.2em;
}

.user-info,
.add-address,
.address-list,
.change-password {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 800px;
  margin: auto auto 1em;
  padding: 1em;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  text-align: center;
  color: #009688;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.5em 0;
}

.add-address form,
.change-password form {
  display: flex;
  flex-direction: column;
}

.add-address label,
.change-password label {
  margin-bottom: 0.5em;
}
.labels {
  color: #009688;
  border: 1px solid #009688;
  padding: 0.5em;
}
.button {
  background-color: #009688;
  color: #FFF;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

.address-list ul {
  list-style: none;
  padding: 0;
}

.address-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #DDD;
}

.address-list .delete-button {
  cursor: pointer;
  height: 34px;
}
