<mat-card>
  <mat-card-content class="labels">
<div class="page-container">
  <div class="user-info labels">
    <h2 class="section-title">User information</h2>
    <table class="UserInfo">
      <tr><td><b>Username: </b></td><td>{{user.username}}</td></tr>
      <tr><td><b>Name: </b></td><td>{{user.name}}</td></tr>
      <tr><td><b>Surname: </b></td><td>{{user.surname}}</td></tr>
      <tr><td><b>Email: </b></td><td>{{user.email}}</td></tr>
      <tr><td><b>Phone: </b></td><td>{{user.phone}}</td></tr>
      <tr><td><b>Roles: </b></td><td>placeholder</td></tr>
    </table>
  </div>
  <div class="change-password labels">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
      <h2 class="section-title">Change password</h2>
      <table class="UserInfo">
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Password:</mat-label>
          <input class="reg-input" type="password" matInput formControlName="password" required>
          <mat-error>
            Passwords don't match
          </mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Confirm Password:</mat-label>
          <input class="reg-input" type="password" matInput formControlName="confirmPassword" required>
          <mat-error>
            Passwords don't match
          </mat-error>
        </mat-form-field>
      </table>
      <br>
      <button type="submit" class="button">Submit</button>
      <br>
    </form>
  </div>

  <div class="add-address labels">
    <form [formGroup]="addAddressForm" (ngSubmit)="onSubmitAddAddress()">
      <h2 class="section-title"> Add new shipping address</h2>
      <table class="UserInfo">
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Street:</mat-label>
          <input class="reg-input" matInput formControlName="street" required>
          <mat-error>
            Please provide a valid street
          </mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Apartment/flat number:</mat-label>
          <input matInput class="reg-input"  formControlName="flatNumber" required>
          <mat-error>
            Please provide a valid apartment/flat number
          </mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>Postal Code:</mat-label>
          <input matInput class="reg-input" formControlName="postalCode" required>
          <mat-error>
            Please provide a valid postal code
          </mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field class="mat-form-field" appearance="outline">
          <mat-label>City:</mat-label>
          <input matInput class="reg-input"  formControlName="city" required>
          <mat-error>
            Please provide a valid city name
          </mat-error>
        </mat-form-field>
      </table>
      <br>
      <button type="submit" class="button">Add new address</button>
      <br>
    </form>
  </div>

  <div class="address-list labels">
    <h2 class="section-title">Your shipping addresses</h2>
    <ul>
      <li *ngFor="let address of addresses">
        <span class="address-text">{{address.street + ' ' + address.flatNumber + ', ' + address.postalCode + ', ' + address.city}}</span>
        <img class="delete-button" src="../../../../assets/trash.png" (click)="removeAddress(address.addressId)">
      </li>
    </ul>
  </div>
</div>
  </mat-card-content>
</mat-card>
