<div class="container">
    <p class="text-big-left">Shipping address</p>
    <div class="item-row" *ngFor="let address of allAddresses" (click)="fillNotesForSelectedAddress(address)">
        <span>{{address.addressId}}</span>
        <span>{{address.street}}</span>
        <span>{{address.city}}</span>
        <span>{{address.flatNumber}}</span>
        <span>{{address.street}}</span>
        <span>{{address.postalCode}}</span>
    </div>
</div>
<div class="container">
    <p class="text-big-left">Additional notes</p>
    <mat-form-field appearance="outline">
        <mat-label>Describe your problem with the order here: </mat-label>
        <textarea matInput #notesTextarea
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="10"
                  cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
</div>
<div class="container">
    <p class="text-big-left">Payment method</p>
    <section>
        <mat-radio-group>
            <mat-radio-button>Credit card</mat-radio-button>
            <mat-radio-button>Payypal</mat-radio-button>
            <mat-radio-button>Google pay</mat-radio-button>
        </mat-radio-group>
    </section>
</div>
<div class="container">
    <p class="text-big-left">Summary</p>
    <div class="item-row">
        <span>Shipping</span>
        <span class="spacer"></span>
        <span>19,99 PLN</span>
    </div>
    <div class="item-row">
        <span>Total cost</span>
        <span class="spacer"></span>
        <span>{{totalPrice}} PLN</span>
    </div>
    <div class="item-row">
        <span></span>
        <span class="spacer"></span>
        <span>
            <button mat-stroked-button (click)="commencePayment()">Commence payment</button>
        </span>
    </div>

</div>
