<h2 class="text-center">Payment success!</h2>
<div class="container">
    <p class="text-center">Your payment has been created with an ID: {{paymentTransactionId}}.</p>
    <p class="text-center">Check your email for more details.</p>
</div>
<div class="container">
    <h2 class="text-center">Items purchased:</h2>
    <table class="table">
        <thead>
        <tr class="labels">
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <colgroup>
            <col style="width: 10%">
            <col style="width: 20%">
            <col style="width: 25%">
            <col style="width: 25%">
        </colgroup>
        <tbody>
        <tr *ngFor="let item of items; index as i" class="card">
            <td>{{ item.itemId }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }} PLN</td>
        </tr>
        <br>
        </tbody>
    </table>
</div>
