<div class="container">
    <h2 class="text-big-left">Payment success!</h2>
    <p class="text-center user-info font-container">Your payment has been proceed successfully with an ID: {{paymentTransactionId}}.
      <br>Check your email for more details.</p>

    <h2 class="text-big-left">Items purchased:</h2>
    <table class="table">
        <thead>
        <tr class="labels">
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items; index as i" class="card">
            <td>{{ item.itemId }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.price }} PLN</td>
        </tr>
        <br>
        </tbody>
    </table>
</div>
