<div class="container">
  <div class="header-container">
    <h2 class="text-big-left"><span><b>Category list</b></span></h2>
  </div>
  <ng-template [ngIf]="loading" [ngIfElse]="loadedBlock">
    <div *ngIf="loading" class="loading-animation">
      <div class="spinner"></div>
    </div>
  </ng-template>
  <ng-template #loadedBlock>
    <div class="main-card">
      <ng-template [ngIf]="itemCategories.length === 0" [ngIfElse]="elseBlock">
        <h2 class="text-center">There are no categories in the database.</h2>
      </ng-template>
      <ng-template #elseBlock>
        <table class="table">
          <thead>
          <tr class="labels">
            <th>Category ID</th>
            <th>Name</th>
            <th>Delete Category</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of paginatedOrders; index as i" class="card">
            <td> {{item.itemCategoryId}} </td>
            <td> {{item.category}} </td>
            <td><button>Delete</button></td>
          </tr>
          <br>
          </tbody>
        </table>
      </ng-template>

      <div class="pagination">
        <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 0">Previous</button>
        <span>Page {{ currentPage + 1 }}</span>
        <button (click)="currentPage = currentPage + 1" [disabled]="paginatedOrders.length < itemsPerPage">Next
        </button>
      </div>
    </div>
  </ng-template>
    <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmitAddNewCategory()">
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Category:</mat-label>
        <input matInput class="reg-input" formControlName="category" required>
        <mat-error>
          Please provide a valid category name
        </mat-error>
      </mat-form-field>
      <div class="card">
        <span class="spacer"></span>
        <button>Add new category</button>
      </div>
    </form>
</div>
