.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}


.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-form-field {
  width: 80px !important;
}


.element {
  text-align: center;
  width: 500px;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
}


.element img {
  max-width: 500px;
  max-height: 600px;
}

