.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  background-color: #fffffe;
  border: 5px solid #cccccc;
  padding: 20px;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option-form-field {
  width: 80px !important;
}
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  order: 1;
}

.card-img {
  order: 2;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.element {
  text-align: center;
  width: 500px;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
}


.element img {
  max-width: 600px;
  max-height: 600px;
}

